* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(216, 216, 213);
    padding: 20px;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 20px;
}

.card {
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: rgb(134, 43, 238);
    border-radius: 10px;
    text-align: center;
}

