         
         .box{
            background-color: red;
            width: 500px;
            height: 500px;
           padding: 100px;
          margin: auto;
        }
        .box1{
            background-color: lightblue;
            margin-right: 30px;
          text-align: center;
         padding:80px;
         height: 400px;
         width: 400px;
         
        }
        .box2{
            background-color: yellow;
           padding: 60px;
           margin-right: 30px;
           height: 300px;
           width: 300px;
        }
        .box3{
            background-color: wheat;
            padding: 40px;
            margin-left: 10px;
            height: 200px;
            width: 200px;
            text-align: center;
            }

        
        